*{
    margin: 0;
    padding: 0;
}

#fullCenteredContainer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

/* ###### Full Grid ###### */
#grid{
    border: solid 5px #2c241c;
}
#gridRow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowDiv{
    display: flex;
}
/* ^^^^^ Full Grid ^^^^^ */

/* ###### Header ###### */

header{
    display: flex;
    justify-content: center;
    background-color: #2c241c;
    height: 35px;
    min-width: 1150px;
    max-width: 1150px;
}
#headerDiv{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}
#headerTabs{
    display: flex;
    justify-content: space-around;
}
#headerTabs > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerTabs{
    color: #869567;
    width: 70%;
}

.logoContainer{
    color: #869567;
    display: flex;
    align-items: center;
    width: 30%;
}
#logo{
    padding-left: 100px;
}
/* ^^^^^ Header  ^^^^^ */

footer{
    height: 225px;
    min-width: 1150px;
    max-width: 1150px;
    background-color: #2c241c;
}
#footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #869567;
    height: 35px;
    font-size: 20px;
}
.gridCell{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    background-color: #344829;
    border: inset 1px #304326;
}
.cellEnabled{
    background-color: #5e4c3c;
}

.cellContainer{
    height: 100%;
    width: 100%;
}
.plantContainer{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.seedling1or2Container{
    margin-top: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.timerContainer{
    height: 30%;
    width: 100%;
    min-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doublePlant{
    flex-grow: 50%;
    padding-top: 15px;
}
.fa-seedling{
    font-size: 15px;
    text-align: center;
    width: 50%;
    margin-top: 3px;
}
.singlePlant{
    margin-top: 17px;
}

#sidebar{
    min-height: 744px;
    min-width: 200px;
    background-color: #4a3c2f;
    border: solid 5px #2c241c;
}
#bodyContainer{
    display: flex;
    justify-content: center;
}